main {
  margin-top: 104.44px;
}

.contact-container {
  max-width: 500px;
  margin: 5rem auto;
  text-align: center;
  font-family: "moby-primo-variable", sans-serif;
  color: #fcf9ee;
  margin-top: 10rem;
}

.contact-title {
  font-size: 2rem;
  color: #cb4325;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.contact-subtitle {
  font-family: "nunito", sans-serif;
  font-size: 1rem;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: #28396c;
}

#contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
  align-items: stretch;
}

#contact-form input {
  width: 100%;
  padding: 0.75rem;
  background-color: #fcf9ee;
  font-size: 1rem;
  border: 2px solid #28396c;
  border-radius: 4px;
  font-family: "nunito", sans-serif;
}

#contact-form textarea {
  width: 100%;
  padding: 0.75rem;
  background-color: #fcf9ee;
  font-size: 1rem;
  border: 2px solid #28396c;
  border-radius: 4px;
  font-family: "nunito", sans-serif;
}

.button-wrapper {
  width: 100%;
  text-align: right;
  box-sizing: border-box;
}

.contact-btn {
  max-width: 150px;
  padding: 0.5rem 1.5rem;
  background-color: #5b7b44;
  color: #fcf9ee;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-family: "nunito", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.contact-btn:hover {
  background-color: #4e6535;
}
