h1 {
  font-family: "moby-monospace", monospace;
  color: #d94f30;
  text-align: center;
}

h2 {
  font-family: "nunito", monospace;
  font-size: 1.3rem;
  font-weight: 400;
  color: #28396c;
  text-align: center;
}
