h1 {
  font-family: "moby-monospace", monospace;
  color: #d94f30;
  text-align: center;
}

h2 {
  font-family: "nunito", monospace;
  font-size: 1.3rem;
  font-weight: 400;
  color: #28396c;
  text-align: center;
}

#quick-tips-card {
  border: 2px solid #e0a800;
}

#quick-tips-card h1 {
  font-size: 1.2rem;
}

#quick-tips-card h2 {
  font-size: 1rem;
}
