/* Base styles */
body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  background-color: #fcf9ee;
  color: #28396c;
}

main h1 {
  margin: 0;
  font-family: "moby", sans-serif;
  font-weight: 300;
}

main h2 {
  margin: 0;
  font-family: "moby", sans-serif;
  font-weight: 500;
}
main h3 {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 0;
}

button {
  font-family: "Nunito", sans-serif;
  cursor: pointer;
}

/* Hero Section */
.hero-section {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.introduction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-left: 4rem;
}

.intro-text {
  flex: 1;
}

.intro-text .tagline {
  font-size: 34px;
  color: #d94f30;
}

.intro-text .tagline span {
  display: block;
}

.intro-text .description {
  margin-top: 1rem;
  font-size: 20px;
  color: #28396c;
  max-width: 500px;
}

.intro-text .subtext {
  color: #5b7b44;
  margin-top: 1rem;
  font-size: 18px;
  font-weight: 100;
}

.subtext {
  margin-bottom: 45px;
}

.explore-btn {
  background-color: #fcf9ee;
  color: #5b7b44;
  border: 2px solid #5b7b44;
  border-radius: 6px;
  padding: 0.6rem 1.6rem;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: background 0.3s;
  text-align: center;
}

.explore-btn:hover {
  background-color: #5b7b44;
  color: #fcf9ee;
}

/* Ramen image */
.intro-image img {
  width: 540px;
  height: auto;
}

/* New Recipes Section */
.new-recipes {
  margin-top: 4rem;
  text-align: center;
}

.new-recipes .section-title {
  color: #d94f30;
  font-size: 2rem;
  letter-spacing: 1px;
}

.new-recipes .section-subtext {
  color: #28396c;
  font-weight: 00;
  margin-top: 0.5rem;
  font-size: 18px;
}

.carousel-container {
  max-width: 1600px;
  margin: 0 auto 80px;
  padding: 20px 20px 20px 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
}

.carousel {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.carousel-track-wrapper {
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
  gap: 20px;
}

.carousel-btn {
  background-color: #fcf9ee;
  border: 2px solid #fcf9ee;
  border-radius: 30%;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 60px;
  font-weight: 100;
  color: #5b7b44;
  z-index: 1000;
  flex-shrink: 0;
}

.carousel-btn.left {
  margin-right: 10px;
}

.carousel-btn.right {
  margin-left: 10px;
}

.carousel .recipe-card {
  flex: 0 0 calc(33.33% - 20px);
}

@media (max-width: 800px) {
  .carousel-track .recipe-card {
    flex: 0 0 calc(50% - 14px);
  }
}

@media (max-width: 600px) {
  .carousel-track .recipe-card {
    flex: 0 0 calc(100% - 14px);
  }
}
/* Best Rated Recipes Section */
.top-rated-recipes {
  margin-top: 4rem;
  text-align: center;
}

.top-rated-recipes .section-title {
  color: #d94f30;
  font-size: 2rem;
  letter-spacing: 1px;
}

.top-rated-recipes .section-subtext {
  color: #28396c;
  font-weight: 500;
  margin-top: 0.5rem;
  font-size: 18px;
}

/* Outro section */

.outro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.outro-text {
  flex: 1;
}

.outro-text .tagline {
  font-size: 34px;
  color: #d94f30;
}

.outro-text .tagline span {
  display: block;
}

.outro-text .description {
  margin-top: 1rem;
  font-size: 20px;
  color: #28396c;
  max-width: 500px;
}

.outro-text .subtext {
  color: #5b7b44;
  margin-top: 1rem;
  font-size: 18px;
  font-weight: 100;
}

/* Ramen image */
.outro-image img {
  width: 540px;
  height: auto;
}

/* HEART ICON */
#heart-icon {
  width: 5px;
  height: auto;
}

@media (max-width: 540px) {
  .intro-image img,
  .outro-image img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}
