#profile-welcome {
  margin-top: 10rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
}

#favorites-section {
  padding-top: 2rem;
  text-align: center;
}

#favorite-recipes-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  justify-content: center;
  max-width: 1400px;
  margin: 70px auto;
}
