main {
  margin-top: 20rem;
}

main h1 {
  font-family: "moby-monospace", monospace;
  color: #d94f30;
  font-weight: 300;
  text-align: center;
}

.caption {
  font-family: "nunito", monospace;
  font-size: 1.3rem;
  font-weight: 400;
  color: #28396c;
  text-align: center;
}

#favorites-section {
  padding-top: 2rem;
  text-align: center;
}
