body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fcf9ee;
  color: #28396c;
}

main h2 {
  color: #d94f30;
  margin-bottom: 0.2em;
  font-size: 35px;
  font-family: "moby", sans-serif;
  font-weight: 400;
  font-style: normal;
}

main h5 {
  font-family: "nunito", sans-serif;
  font-weight: 550;
  font-style: normal;
  font-size: 24px;
}
main p {
  font-family: "nunito", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
}
main {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

/* Header */
.header-image {
  width: 100%;
  max-width: 1400px;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Categories */
.categories {
  text-align: center;
  margin: 70px 0;
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
  gap: 110px;
  max-width: 1400px;
  margin: 50px auto 40px;
  padding: 20px 0;
}

.category {
  width: 100%;
  height: auto;
  max-width: 185px;
  object-fit: cover;
}

.category img {
  width: 100%;
  height: auto;
  max-width: 200px;
  object-fit: cover;
}
.category img:hover {
  opacity: 70%;
  cursor: pointer;
}
#drinks {
  width: 192px;
}

@media (max-width: 768px) {
  .categories-list {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 20px;
  }

  .category {
    flex: 0 0 auto;
  }

  .category img {
    width: 150px;
    height: auto;
  }
  #drinks {
    width: 155px;
  }
}
/* Recipes */
.recipes {
  text-align: center;
}

.recipes-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  justify-content: center;
  max-width: 1400px;
  margin: 70px auto;
  padding: 0 20px;
}

.recipe-card {
  border: 2px solid #e0a800;
  border-radius: 12px;
  overflow: hidden;
  background-color: #fcf9ee;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  height: 450px;
  box-shadow: 4px 4px 10px #dbd1ca;
}

.recipe-image-wrapper {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.recipe-image-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.recipe-image-wrapper img:hover {
  opacity: 70%;
}
.icon-star {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #fcf9ee;
  padding: 4px 8px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: #28396c;
  font-family: "nunito", sans-serif;
  font-weight: 700;
}

.icon-heart {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fcf9ee;
  padding: 6px;
  border-radius: 50%;
  border: 2px solid #e0a800;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe-content {
  padding: 5px;
  text-align: center;
}

.recipe-title {
  font-family: "nunito", sans-serif;
  font-weight: 550;
  color: #28396c;
  font-size: 20px;
  margin-bottom: 8px;
}

.recipe-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  margin-bottom: 12px;
}

.recipe-details img {
  width: 20px;
  height: 20px;
}

.recipe-time {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #28396c;
  font-family: "nunito", sans-serif;
  font-weight: 700;
}

.recipe-time img {
  width: 16px;
  height: 16px;
}

.see-more-button {
  background-color: #5b7b44;
  color: white;
  font-family: "nunito", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 9px 60px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 4vh 0 10px;
}

.see-more-button:hover {
  /*change button hovering color*/
  background-color: #4a6537;
}

.more-recipes {
  background: #fcf9ee;
  color: #5b7b44;
  border: 2px solid #5b7b44;
  margin-top: 30px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
}

/* Responsive */
@media (max-width: 768px) {
  .recipes-list {
    grid-template-columns: 1fr;
  }
}
