.signup-container {
  max-width: 500px;
  margin: 5rem auto;
  padding-top: 50px;
  text-align: center;
  font-family: "moby-primo-variable", sans-serif;
  color: #fcf9ee;
  margin-top: 8rem;
}

.signup-title {
  font-size: 34px;
  font-weight: 300;
  color: #cb4325;
  letter-spacing: 2px;
  margin-bottom: 6.4px;
}

.signup-subtitle {
  font-family: "nunito", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 2rem;
  color: #28396c;
}

#signup-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
  align-items: stretch;
}

#signup-form input {
  width: 100%;
  padding: 0.75rem;
  background-color: #fcf9ee;
  font-size: 1rem;
  border: 2px solid #28396c;
  border-radius: 4px;
  font-family: "nunito", sans-serif;
}

#signup-form p {
  color: #9d9d9d;
  font-family: "nunito", sans-serif;
  font-size: 1rem;
  margin: 0;
  text-align: left;
}
.button-wrapper {
  width: 100%;
  text-align: right;
  box-sizing: border-box;
}

.signup-btn {
  max-width: 110px;
  padding: 9px 19px;
  background-color: #5b7b44;
  color: #fcf9ee;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  font-family: "nunito", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-btn:hover {
  background-color: #4e6535;
}

@media (max-width: 600px) {
  .signup-container {
    margin-top: 6rem;
    margin-right: 1.5rem;
  }
  .signup-title {
    font-size: 1.5rem;
    margin-left: 1.5rem;
  }
  .signup-subtitle {
    font-size: 0.95rem;
    margin-left: 1.5rem;
  }
  #signup-form input {
    font-size: 0.95rem;
    padding: 0.65rem;
  }
  .signup-btn {
    width: 100%;
    max-width: 100px;
  }
}
